<h1>問い合わせ履歴</h1>
<div class="row">

	<table>
		<thead>
			<tr>
				<td>タイトル</td>
				<td>日時</td>
			</tr>
		</thead>
		<% @contacts.each do |contact| %>
		<tbody>
			<tr>
				<td>
					<%= link_to contact.title, contact_path(contact) %>
				</td>
				<td><%= contact.created_at.strftime("%Y/%m/%d") %></td>
			</tr>
	    <% end %>
		</tbody>
	</table>
</div>
