<%= form_with model: [post, post_comment] do |f| %>
    <%= f.text_area :comment, size: "90x5" %>
    <!-- 星評価 -->
    <p id=star>
	    <%= f.hidden_field :rate, id: :post_comment_rate %>
    </p>

    <%= f.submit '送信', class: "btn btn-default" %>
<% end %>