<!-- SIDEBAR -->
<div>
	<%= render 'layouts/sidebar', {genres: @s_genres, tags: @s_tags, areas: @s_areas} %>
</div>

<h1>Let's Post!!</h1>
<p>地元や訪れた場所のお気に入り、印象に残っていること<br>
	あなたのお気に入りの場所、もの、<br>
	あなたしか知らない場所、<br>
	もしかしたら、、、あなたしか知らないことかもしれません<br>
	あなたがみんなに知ってほしいこと、なんでもいいので投稿してみましょう！！！
</p>

<%= render 'form', post: @post, url: posts_path, submit: '投稿する' %>









