
<div class="row">
	<h1>Local とは...</h1>
	<h4>「みんなが知っている観光地」ではなく、<br>
		『 まだ広く知られていない、ローカルの魅力』を共有➡︎再発見
	</h4>
</div>
<div class="row">
	<p>
	日本には有名な観光地、多様な文化が各地に多く存在します。<br>
	しかし、それぞれの地域には地元の人やその地に訪れた人しか知らない素晴らしい魅力がまだまだ溢れています。<br>
	そんなまだ多くの人に知られていない各地の魅力を知りたい、広めたい、さらには理解、交流を深めたい、<br>という思いでこのサイトを作成しました。<br>
	あなたにとっては些細なことでも、実はその地域だけのローカルな魅力かもしれません。<br>
	そんな各地の魅力を共有しあい、新たな魅力発見、魅力発信に繋がったら嬉しいです。</p>
</div>

<div class="row">
	<h4>
		<strong>いろんな投稿を見てみよう！</strong>
		<%= link_to "投稿一覧へ", posts_path %>
	</h4>
	<p>会員のみんなの投稿は、エリア・都道府県、カテゴリ、タグ、キーワードなどから探すことができます。<br>
		その投稿に関連する情報をもっと知りたい！、と思ったら右側の検索から探してみましょう。<br>
		会員になると、閲覧履歴やお気に入り登録した投稿、フォローしている人の投稿タイムラインを見ることもできます。
	</p>

	<p>＊これより下のコンテンツは会員のみ可能となります。</p>
</div>

<div class="row">
	<h4><strong>投稿者同士の交流</strong>　<%= link_to "会員登録はこちらから", new_user_registration_path %></h4>
	<p>（これらの投稿同士の交流は、<i class="far fa-bell fa-md"></i>より通知内容を確認できます。)</p>
	<div class="col-md-4">
		<h5>①<strong>お気に入り登録 ♡ </strong></h5><hr>
		<p>気に入った投稿や知らなかった！っと思った投稿には♡を送りましょう。
		♡を送った投稿はマイページでいつでも確認できます。</p>
	</div>
	<div class="col-md-4">
		<h5>②　<strong>コメント・星評価☆</strong></h5><hr>
		<p>もっと知りたい！と思ったことや投稿者さんに伝えたいことをコメント欄から送りましょう。<br>
		コメントは難しいけど、すごいいいと思った！！という投稿があれば星評価☆で送りましょう。</p>
	</div>
	<div class="col-md-4">
		<h5>③　<strong>フォロー</strong></h5><hr>
		<p>気になった情報を投稿しているユーザーがいたらフォローしてみましょう。<br>
		フォローすると、トップページのタイムラインに投稿が表示されます</p>
	</div>

</div>
<div class="row">
	<h4>その他、サイトに関する疑問点、ご意見等ございましたら、<br>
	右上の問い合わせよりご確認ください。</h4>
</div>


