<!-- SIDEBAR -->
<div>
	<%= render 'layouts/sidebar', {genres: @s_genres, tags: @s_tags, areas: @s_areas} %>
</div>
<div class="row">
	<h3>お気に入りの投稿一覧　
		<%= link_to 'マイページに戻る', user_path(current_user), class: "btn btn-default" %>
	</h3>
	<% if @favorite_posts.count > 0 %>
		<%= render 'public/posts/index', posts: @favorite_posts %>
		<span id="back">
			<a href="#">
				<i class="fas fa-chevron-circle-up fa-4x"></i>
			</a>
		</span>
	<% else %>
	    <p>お気に入りの投稿がまだありません</p>
	<% end %>
</div>