<h1><%= @area.name %>エリアの都道府県</h1>
<table>
	<tbody>
		<% @prefectures.each do |prefecture| %>
		<tr>
			<td><%= prefecture.id %></td>
			<td><%= link_to prefecture.name, edit_admin_prefecture_path(prefecture) %></td>
		</tr>
		<% end %>
	</tbody>
</table>