/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


/* トップスライド*/

/* 全体のスタイル */
.swiper-container{
	width: 100%;
	height: 70px;
}

.main-msg{
	width: 100%;
	height: 100px;
}

.btn, .label{
	opacity: 0.9;
}

/* 全スライド共通スタイル */
.swiper-slide {
	color: #000;
	text-align: center;

	img{
	width: 100%;
	height: 100%;
	opacity: 0.9;
	}
}

.title{
	border-bottom: solid 5px #cce4ff;
  position: relative;
  width: 600px;
}

.title:after{
	position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 5px #dbf5ff;
  bottom: -5px;
  width: 20%;
}


/*検索サイドバー*/
 #slide{
	z-index: 10;
	position: fixed;
	top: 0;
	right: -300px;
	width: 350px;
	height: 100%;
	padding: 50px 0 0 50px;
	overflow: auto;
	background-color: #F0F8FF;
	opacity: 0.8;

	.slide-inner {
		overflow: auto;
	}

	.nav-icon{
		position: absolute;
		left: 10px;
		top: 450px;

		.fa{
		font-size: 30px;
		}
	}

 }

 #slide a{
	color: inherit;
 }

 .fa{
 color: black;
 }


/*サイドバーエリア*/
 .openBtn {
	cursor: pointer;
	padding: 10px;
	border: 1px solid black;
	border-left: 10px solid black;
	color: black;
 }

 .openBtn:hover {
	opacity: 0.7;
 }

 .textArea{
	display: none;
	padding: 10px 10px 10px 10px;
 }

/* top見出し */
 .topic_line{
	position: relative;
    display: inline-block;
    padding: 0 80px;
	text-align: center;
	margin-bottom: 20px;
	color: #495193;
 }

 .topic_line:before, .topic_line:after{
	content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 4px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
 }

 .topic_line:before{
	left: 0;
 }

 .topic_line:after{
	right: 0;
 }

 /*投稿一覧*/
 hr{
	margin: 0 0 10px 0;
    border: 0;
    border-top: 1px solid gray;
    opacity: 0.8;
 }

 /*トップに戻るボタン*/
 #back {
  position: fixed;
  right: 60px;
  bottom: 50px;

  a{
		color: inherit;
		text-decoration: none;
	}

  }

.post-prefecture{
	background-color: #a8d7ff;
	display: inline-block;
    color: #fff;
    font-weight: 700;
    padding: 4px 5px;
    letter-spacing: .1em;
    border-radius: 3px;
    margin-bottom: 3px;

    a{
		color: inherit;
		text-decoration: none;
	}
 }

.post-genre{
	background-color: #a8e5ff;
	display: inline-block;
    color: #fff;
    font-weight: 700;
    padding: 4px 5px;
    letter-spacing: .1em;
    border-radius: 3px;
    margin-bottom: 3px;

    a{
		color: inherit;
		text-decoration: none;
	}
 }

 .about{
	position: relative;
	padding: 5px;
	background: #bcdcc8;
	color: white;
	width: 700px;
	margin-bottom: 20px;
 }

 .about::before{
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	border: none;
	border-bottom: solid 10px transparent;
	border-right: solid 20px rgb(149, 158, 155);
 }

 /* 通知時の● */
 .n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.to_posts{
	display: inline-block;
	position: relative;
	padding: 10px 15px;
	font-size: 18px;
	color: #FFF;
	background: #a6d3c8;
	width: 300px;
	margin-top:20px;
}

.to_posts:before{
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	border: none;
	border-bottom: solid 10px transparent;
	border-right: solid 15px rgb(149, 158, 155);/*折り返し部分*/
}

.notification{
	background-color: #dbf3ff;
	border-radius: 4px;
	padding: 15px;
    margin-bottom: 20px;
	height: 90px;
}

/* ヘッダー*/
.page-header{
  position: fixed;
  top: 0;
  right:0;
  left: 0;
  z-index: 5;
  margin: 0;
  background-color: #fafdff;
  opacity: 0.8;
}

.new{
	background-color: #e5f0fa;
}

.logo{
	width: 100px;
	height: 60px;
	margin: 0 auto;
}

main{
	margin: 100px 0 50px 0;
}

 footer{
	text-align: center;
	margin-bottom: 30px;

	a{
		color: inherit;
		text-decoration: none;
		cursor: default;
	}
 }

.img-rounded{
	border-radius: 3px;
}
