/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


/* トップスライド*/

/* 全体のスタイル */
.swiper-container{
	width: 100%;
	height: 70px;
}

.main-msg{
	width: 100%;
	height: 100px;
}

/* 全スライド共通スタイル */
.swiper-slide {
	color: #000;
	text-align: center;

	img{
	width: 100%;
	height: 100%;
	opacity: 0.9;
	}
}

/*検索サイドバー*/
 #slide{
	z-index: 10;
	position: fixed;
	top: 0;
	right: -300px;
	width: 350px;
	height: 100%;
	padding: 50px 0 0 50px;
	overflow: auto;
	background-color: #F0F8FF;
	opacity: 0.8;

	.slide-inner {
		overflow: auto;
	}

	.nav-icon{
		position: absolute;
		left: 10px;
		top: 450px;

		.fa{
		font-size: 30px;
		}
	}

 }

 #slide a{
	color: inherit;
 }


 .fa{
 color: black;
 }


/*サイドバーエリア*/
 .openBtn {
	cursor: pointer;
	padding: 10px;
	border: 1px solid black;
	border-left: 10px solid black;
	color: black;
 }

 .openBtn:hover {
	opacity: 0.7;
 }

 .textArea{
	display: none;
	padding: 10px 10px 10px 10px;
 }

 /*post#index*/
 hr{
	margin: 0 0 10px 0;
    border: 0;
    border-top: 1px solid gray;
    opacity: 0.8;
 }

 .post-prefecture{
	background-color: #a8d7ff;
	display: inline-block;
    color: #fff;
    font-weight: 700;
    padding: 3px 10px;
    letter-spacing: .1em;

    a{
		color: inherit;
		text-decoration: none;
	}
 }

.post-genre{
	background-color: #a8e5ff;
	display: inline-block;
    color: #fff;
    font-weight: 700;
    padding: 3px 10px;
    letter-spacing: .1em;

    a{
		color: inherit;
		text-decoration: none;
	}

 }

 /* 通知時の● */
 .n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.to_posts{
	background-color: #aaddee;
	width: 70%;
	height: 50px;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	opacity: 0.7;

	a{
		color: inherit;
		text-decoration: none;
	}
}

/* ヘッダー*/
.page-header{
  position: fixed;
  top: 0;
  right:0;
  left: 0;
  z-index: 5;
  margin: 0;
  background-color: #fafdff;
  opacity: 0.8;
}

.new{
	background-color: #e5f0fa;
}

.logo{
	width: 100px;
	height: 60px;
	margin: 0 auto;
}

main{
	margin: 100px 0 50px 0;
}

 footer{
	text-align: center;
	margin-bottom: 30px;

	a{
		color: inherit;
		text-decoration: none;
		cursor: default;
	}
 }
