<h1>会員一覧</h1>
<div class="row">

	<table class='table'>
	  <thead>
	    <tr>
	    	<th>会員ID</th>
			<th>アカウント名</th>
			<th>会員ステータス</th>
			<th></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @users.each do |user| %>
	      <tr>
	      	<td><%= user.id %></td>
	      	<td><%= user.name %>
	      		<%= attachment_image_tag(user, :image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
	        <td>
	        	<% if user.is_active? %>
		        	<span>有効</span>
	        	<% else %>
		        	<span>退会済</span>
		      	<% end %>
		    </td>
	        <td><%= link_to 'Show', admin_user_path(user) %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
