<h1>あなたへのお知らせ</h1>
<div>
	<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
	<% if notifications.exists? %>
        <!-- collectionオプション 複数形で渡す＝そのテンプレートを繰り返し表示できる -->
		<%= render notifications %>

	<% else %>
		<P>通知はありません</P>
	<% end %>

	<p><%= link_to '戻る', :back %></p>

</div>