<% if resource.errors.any? %>
  <div id="error_explanation">
  	<h3><%= resource.errors.count %>件のエラー:</h3>
    <h4>記入されてない箇所があります。</h4>
    <ul id ="error_explanation" class="alert alert-danger">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>